## Copyright (C) 2014 - 2020 The Monero Project
## See the file COPYING for copying conditions.

[Desktop Entry]
Comment=Start Monero wallet
Exec=/usr/local/bin/monero-wallet-gui
Category=Internet
Type=Application
GenericName[en_US]=Monero (XMR) Wallet
GenericName=Monero (XMR) Wallet
Name[en_US]=Monero (XMR) Wallet
Name=Monero (XMR) Wallet
Icon=monero
Keywords=XRM;money;anonymity;privacy;cryptocurrency;Finance;Network;
